<h1>Ideia de Livro</h1>

<form action="/books/insertbook" method="post" class="form">

<div class="form-control">
    <label for="titlle">Titulo:</label>
    <input type="text" name="title" placeholder="digite o nome do seu livro">
</div>
<div class="form-control">
    <label for="pageqti">Pode contar aqui</label>
    <input type="number" name="pageqti" placeholder="digite o numero de páginas">
</div>
<input type="submit" value="cadastrar">


</form>